<h1>About</h1>

<p>
	This app is built using <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>.
</p>
<p>
	There are many features that I added in the creation of this app.
	You can add posts, update posts and delete posts.
</p>
<p>
	Images can be added by changing the type of the post from text to image and pasting the image URL in the content.
</p>
<p>
	Further more you as a user can also 'heart' posts by clicking the 'heart' icon that is above each post.
</p>
<p>
	I hope you enjoy it as much as I enjoyed creating it.
</p>